@tailwind base;
@tailwind components;
@tailwind utilities;

/* Définition des couleurs */
$color1: #171940;
$color2: #8ed979;
$color3: #91aaf2;
$color4: #d9ad77;
$color5: #ffffff;

/* Utilisation des couleurs */
.bg-color {
  background-color: $color1;
}

main {
  .titre1 {
    color: $color3;
    font-size: 2.5rem;
    @media  screen  and  (min-width: 768px) {
      font-size: 3rem;
    }
  }

  .titre2 {
    color: $color4;
    font-size: 1.25rem;
    @media  screen  and  (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .titre3 {
    color: $color2;
    font-size: 1rem;
    @media  screen  and  (min-width: 768px) {
      font-size: 1.25rem;
    }
  }

  .p {
    color: $color5;
    font-size: 1rem;
    @media  screen  and  (min-width: 768px) {
      font-size: 1.1rem;
    }
  }
}
