:root {


    --color1 : #171940;
    --color2:#8ED979 ;
    --color3:#91AAF2;
    --color4:#D9AD77;
    --color5:#FFFFFF;
  }

.button{

    background-color: var(--color3);
    color: var(--color1);
 
    display: block;
    color:var(--color-3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
    width:10rem;
    

}

.button a {
    text-decoration: none;

}

.button:hover {
    background-color: var(--color2);
    color: var(--color1);
  }
  