$color1: #171940;
$color2: #8ed979;
$color3: #91aaf2;
$color4: #d9ad77;
$color5: #ffffff;
.footer {
  background-color: $color3;
  padding: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  bottom: 0px;
}
